* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.background{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: linear-gradient(to bottom, #009688 25%, #D5DBD9 25%);
}

.container{
    display: flex;
    width: 80%;
    min-width: 900px;
    height: 90vh;
}

.side{
    width: 550px;
    height: 100%;
}

.main{
    width: calc(100% - 550px);
    height: 100%;
}


/* LEFT SIDE */

/* sezione profilo */
.profile{
    border-right: 1px solid lightgrey;
}

.profile,.chat-header{
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #EAEAEA;
    font-size: 22px;
    border: none;
}

.left-side{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture, .chat-picture{
    height: 100%;
    border-radius: 50%;
}

.right-side{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B1B1B1;
    font-size: 30px;
}

.right-side > *{
    margin: 0 15px;
}

/* sezione notice */
.notice{
    display: flex;
    align-items: center;
    height: 110px;
    background-color: #8EDAFC;
    padding: 20px;
}

.notice .bell-box{
    height: 100%;
    border-radius: 50%;
    background-color: white;
    padding: 20px ;
}

.notice img{
    height: 100%;
    filter: invert(68%) sepia(73%) saturate(254%) hue-rotate(166deg) brightness(104%) contrast(98%);
}

.notice-text{
    margin-left: 10px;
    font-size: 20px;
}

.notice-text p{
    padding: 5px;
}

.active-text{
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    color:grey;
}

/* sezione search */
.search{
    display: flex;
    align-items: center;
    height: 80px;
    padding: 15px;
    background-color: #FAFAFA;

}

.search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
    background-color: white;
    border-right: 1px solid lightgrey;
}

.search-icon i{
    font-size: 22px;
    filter: opacity(0.5);
}

.search input{
    width: 85%;
    height: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: white;
    border: none;
    filter: opacity(0.5);
}

/* sezione contacts */
.contacts{
    height: calc(100% - 290px);
    overflow-y: scroll;
    background-color: white;
}

.contact{
    display: flex;
    align-items: center;
    height: 130px;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
}

.contact:hover{
    cursor: pointer;
    background-color: #ecf1f0;
}

.contact img{
    height: 100%;
    border-radius: 50%;
}

.contact .contact-name, .chat-name-access{
    align-self: flex-start;
    padding: 15px;
    font-size: 22px;
}

.last-message{
    align-self: flex-end;
    text-align: right;
    height: 20px;
    overflow: hidden;
    color: grey;
}

/* RIGHT SIDE */

/* chat header */
.chat-name-access{
    padding: 15px 15px 0;
}

.chat-access{
    font-size: 20px;
    color: grey;
}

/* chat */
.chat{
    width: 100%;
    height: calc(100% - 200px);
    background-image: url(img/mine.jpg);
    background-repeat: repeat;
    padding: 5px 80px;
}

.message{
    display: flex;
    margin-bottom: 5px;
}

.message-sent{
    justify-content:flex-end;
}

.message-received{
    justify-content: flex-start;
}

.sent, .received{
    max-width: 75%;
    border-radius: 8px;
    position: relative;
}

.sent:hover .arrow, .received:hover .arrow{
    filter: opacity(0.5);
    transform: rotate(180deg);
    cursor: pointer;
}

.sent{
    background-color:#DCF8C6;
}

.received{
    background-color:white
}

.message > span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-text{
    padding: 10px
}

.message-date{
    align-self: flex-end;
    color: grey;
    font-size: 10px;
}

.arrow{
    align-self: flex-start;
    margin-right: 5px;
    filter: opacity(0.0);
    transition: transform 0.3s ease-in-out;
}

/* menu a tendina */
.option-menu{
    display: none;
    min-width: 180px;
    border-radius: 5px;
}

.active{
    display: inline-block;
    position: absolute;
    background-color: white;
}

.option-menu ul{
    list-style: none;
    width: 100%;
}

.option-menu li{
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.option-menu li:hover{
    background-color: #F5F5F5;
    cursor: pointer;
}

/* footer */
.footer{
    height: 100px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
}

.emoji, .voice-message{
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    filter: opacity(0.5);
}

.input-message{
    width: calc(100% - 180px);
    height: 80%;
    border: 0.5px solid lightgrey;
    border-radius: 2px;
    padding: 15px;
    font-size: 22px;
}